:root {
    --ff-primary: "Open Sans", sans-serif;
    --ff-secondary: "Source Code Pro", monospace;
    --fw-reg: 300;
    --fw-bold: 700;
    --fw-bolder: 900;
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #359aea;
    --fs-h1: 2.4rem;
    --fs-h2: 2rem;
    --fs-h3: 1rem;
    --fs-body: .75rem;
}

@media (min-width: 800px) {
     :root {
        --fs-h1: 3.5rem;
        --fs-h2: 2.75rem;
        --fs-h3: 2rem;
        --fs-body: 1.1rem;
    }
}

body {
    color: var(--clr-dark);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    max-width: 1600px;
    margin: 0 auto;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: 1.5rem;
    color: var(--clr-dark);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
    margin-bottom: 1rem;
}

.nav {
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.95);
    height: 80px;
    width: 100%;
    z-index: 2;
    max-width: 1600px;
}

.nav__link {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: var(--fw-reg);
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    display: none;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--clr-light)
} 

.section__header {
  text-align: center;
}

.banner__title {
    margin-top: 2.5em;
    margin-bottom: 0.25em;
}

.banner__subtitle {
    font-size: var(--fs-body);
    font-weight: var(--fw-reg);
    color: var(--clr-dark);
}

.about-me__title {
    margin-top: .5em;
    margin-bottom: 1em;
}

.about-me__span {
  color: var(--clr-accent);
}

.about-me__icons {
    margin-top: 30px;
    width: 35px;
    height: 35px;
}

.section__title--larger {
  font-size: var(--fs-h1);
}

.banner__subtitle--monospace,
.section__subtitle--description,
.section__subtitle--title {
    font-family: var(--ff-secondary);
}

.banner {
    background-blend-mode: lighten;
    background-color: var(--clr-dark);
    background-image: url(../images/landscape.jpg);
    text-align: center;
    background-size: cover;
    height: 400px;
}

.overlay {
    z-index: 1;
}

.layered {
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
}

.intro {
    position: relative;
}

.about-me__text+.about-me__text {
    margin-top: 20px;
}

.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__skills {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.skills {
    background-color: var(--clr-dark);
    background-image: url(../images/laptop.png);
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
    background-size: cover;
    height: 675px;
}

.section__title--services {
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after {
    content: "";
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.services,
.overlay {
    margin-bottom: 4em;
}

.service {
    margin: 0 auto;
    display: inline-block;
    margin-top: 40px;
}

.service:first-child {
    margin-top: 10px;
}

.service__text {
    width: 325px;
}

.service__button {
  display: none;
}

.portfolios {
    text-align: center;
}

.portfolios h2 {
  margin-bottom: 2rem;
}

.portfolio {
    border: 2px solid rgb(52, 52, 52);
    width: 300px;
    height: 310px;
    display: inline-block;
    margin: 30px 0 0 0;
}

.portfolio--bg-grey {
    background-color: rgb(52, 52, 52);
} 

footer {
    background-color: #000;
}

.list-icons__link {
    color: var(--clr-light);
    text-decoration: none;
    display: block;
    text-align: center;
}

.list-icons__link--top {
    padding-top: 70px;
}

.social-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-list__image {
    width: 40px;
    height: 40px;
    margin: 30px 10px 40px 0;
    background-color: var(--clr-accent);
    cursor: pointer;
}

@media (max-width: 768px) {
  
  .nav__list {
    position: fixed;
    left: -100%;
    top: 4.95rem;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav__list.show {
    left: 0;
    background-color: rgba(0, 0, 0, 0.95);
  }

  .nav__item {
    margin: 2.5rem 0;
  }

  .nav-toggle {
    display: block;
    cursor: pointer;
  }

  .nav-toggle.show .hamburger:nth-child(2) {
    opacity: 0;
  }

  .nav-toggle.show .hamburger:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .nav-toggle.show .hamburger:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media (min-width: 600px) {
    
  h1 {
    font-size: var(--fs-h1);
  }

  .banner__title {
    margin-top: 1.5em;
    white-space: nowrap;
  }

  .banner__subtitle {
    font-size: var(--fs-h3);
  }
  
  .section__subtitle {
    font-size: var(--fs-h3);
  }
    
  .service__text {
    display: flex;
    width: 380px;
  }

  .service__button {
    display: inline-block;
    padding: 0.5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bolder);
    transition: transform 200ms ease-in-out;
  }

  .service__button:hover {
    transform: scale(1.1);
  }
    
  .about-me {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .about-me__title {
    margin-bottom: 0.25em;
}
    
  .about-me__body {
    grid-column: 2;
    grid-row: 2 / 3;
  }
    
  .section__header {
    text-align: center;
    grid-column: 1 / 3;
    grid-row: 1;
  }
   
  .about-me__image {
    grid-column: 1;
    grid-row: 2 / 3;
  }

  .about-me__icons {
    width: 45px;
    height: 45px;
  }
}

@media (min-width: 800px) {
  .nav {
    padding: 3rem 1.5rem;
  }

  .banner {
    height: 800px;
  }
    
  .section__title--right {
    font-size: 3.5rem;
  }

  .skills {
    height: 1115px;
  }

  .portfolio {
    margin-right: 30px;
  }
}

@media (min-width: 870px) {
  .skills {
    height: 900px;
  }
  .service+.service {
    margin-left: 2em;
  }
}

@media (min-width: 960px) {
  h1 {
    font-size: 4.5rem;
  }  
}

@media (min-width: 1290px) {
  .skills {
    height: 700px;
  }  
}